<div class="bt-absolutely-centered w-75">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h1 class="text-center text-light" id="h1-cadastro">Novo Usuário</h1>
    </div>

    <div class="col-8">
      <form [formGroup]="formCadastro">

        <div class="form-group">
          <input placeholder="Email" type="email" formControlName="email"
            id="inputEmail"
            class="form-control {{ formCadastro.get('email').pristine ? '' : (formCadastro.get('email').valid ? 'is-valid' : 'is-invalid') }}">
        </div>

        <div class="form-group">
          <input placeholder="Nome Usuario" type="text" formControlName="nome"
            class="form-control {{ formCadastro.get('nome').pristine ? '' : (formCadastro.get('nome').valid ? 'is-valid' : 'is-invalid') }}">
        </div>

        <div class="form-group">
          <input placeholder="Senha" type="password" formControlName="senha"
            class="form-control {{ formCadastro.get('senha').pristine ? '' : (formCadastro.get('senha').valid ? 'is-valid' : 'is-invalid') }}"
            (input)="verificarSenhas()">
        </div>

        <div class="form-group">
          <input placeholder="Confirmação" type="password" id="inputConfirmacaoSenha" formControlName="confirmacaoSenha"
            class="form-control"
            (input)="verificarSenhas()">
        </div>

        <div class="form-group">
          <select formControlName="tipoConta"
            class="form-control {{ formCadastro.get('tipoConta').pristine ? '' : (formCadastro.get('tipoConta').valid ? 'is-valid' : 'is-invalid') }}">
            <option>Consumidor</option>
            <option>Anunciante</option>
          </select>
        </div>

        <div class="d-flex justify-content-center">

          <button #cadastrarButton class="btn btn-outline-success btn-lg" id="cadastrarButton"
            (click)="cadastrarButtonClick(cadastrarButton)"
            [disabled]="!formIsValid()"
            >Cadastrar</button>

        </div>

      </form>
    </div>
  </div>
</div>

<!-- <button (click)="formIsValid()">test</button> -->