<div class="container">
  
  <form [formGroup]="formNovaOferta">
    
    <div class="form-group">
      <input 
      type="text" 
      placeholder="Título" 
      formControlName="titulo" 
      class="form-control {{ formNovaOferta.get('titulo').pristine ? '' : (formNovaOferta.get('titulo').valid ? 'is-valid' : 'is-invalid') }}"
      >
    </div>
    
    <div class="form-group">
      <input 
      type="text" 
      placeholder="Descrição" 
      formControlName="descricao"
      class="form-control {{ formNovaOferta.get('descricao').pristine ? '' : (formNovaOferta.get('descricao').valid ? 'is-valid' : 'is-invalid') }}"
      >
    </div>
    
    <div class="form-group">
      <input 
      type="number" 
      placeholder="Preço" 
      formControlName="preco"
      class="form-control {{ formNovaOferta.get('preco').pristine ? '' : (formNovaOferta.get('preco').valid ? 'is-valid' : 'is-invalid') }}"
      >
    </div>  
    
    <div class="form-group">
      <select 
      formControlName="categoria"
      class="form-control {{ formNovaOferta.get('categoria').pristine ? '' : (formNovaOferta.get('categoria').valid ? 'is-valid' : 'is-invalid') }}"
      >
      <option value="diversao">Diversão</option>
      <option>Restaurantes</option>
      <option>Festas</option>
    </select>
  </div>
  
  <div class="form-group">
    <div class="custom-file">
      <label 
      class="custom-file-label"
      for="inputImagens">Selecione as imagens</label>
      <input 
      type="file" 
      multiple accept="image/*" 
      #inputImagens 
      id="inputImagens"
      (change)="atualizarImagens(inputImagens.files)"
      class="custom-file-input {{ imagensValidas() ? 'is-valid' : 'is-invalid' }}"
      >
    </div>
  </div>

  <div id="images">

  </div>
  
</form>

<div class="d-flex justify-content-center">
  <button 
  type="submit" 
  class="btn btn-outline-success btn-lg" 
  #cadastrarOfertaButton 
  (click)="cadastrarOfertaButtonClick(cadastrarOfertaButton)"
  [disabled]="!(formNovaOferta.valid && imagensValidas())">Cadastrar</button>
</div>


</div>

<button (click)="test()">test</button>